.wrapper {
  display: flex;
  flex-direction: column;
  width: 1240px;
  margin-top: 2rem;
  p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }
}

.form {
  width: fit-content;
}
