.multipliers {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  display: flex;
  gap: 0.4rem;
  div {
    margin-bottom: 0 !important;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
