.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pageWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    flex-direction: column;
  }