.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 1240px;
  box-shadow: (100, 100, 111, 0.2) 0px 7px 10px -10px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
}

.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1240px;
}

.filters {
  display: flex;
  width: 100%;
  max-width: 1240px;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  label {
    margin-left: 0 !important;
  }
  &__amenities {
    &__items {
      margin-top: 1rem;
    }
  }
  &__priceRange {
    &__inputs {
      margin-top: 1rem;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}
