.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pageWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.loginForm {
  width: 30vw;
}

.submit {
  margin-top: 1.5rem;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.title {
  font-size: 2rem;
}

.paragraph {
  text-align: center;
  font-size: 16px;
  margin-top: -2rem;
}
.reservationCard {
  width: 1240px;
  height: 10%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 20px;
  text-align: center;
}

.reservationCard .reservationCardContent {
  text-align: center;
  font-size: 16px;
}

.reserveSection {
  height: fit-content;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  width: 50vw;
  flex-direction: column;
  gap: 1rem;
  &__title {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
  }
  &__description {
    font-weight: 500;
    font-size: 14px;
    margin-top: -0.3rem;
  }
  &__price {
    font-weight: 600;
    font-size: 24px;
  }
}

.table {
  margin-top: 2rem;
  width: 100%;
  max-width: 1240px;
  border: 1px solid transparent;
  table {
    border-radius: 1rem !important;
  }
  th,
  td {
    background-color: rgb(255, 255, 255) !important;
  }
}

.manageButtons {
  display: flex;
  gap: 0.25rem;
}
