.wrapper {
  width: 500px;
  padding: 0.75rem 0.75rem 0 0.75rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.buttons {
  margin-top: -25px;
}

.list {
  height: 70vh;
  padding-right: 1rem;
  overflow: scroll;
}
